.meal {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 15px;
  }
  
  .meal h3 {
    margin: 0 0 0.5rem 0;
    color: #333;
  }
  
  .meal .description {
    color: #666;
  }
  
  .meal .price {
    font-weight: bold;
    color: #21ba45;
    margin-top: 0.5rem;
  }
  